* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h5, p {
  margin: 0;
}

.row {
  margin-inline: 0 !important;
}

.col-4 {
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
}

.multi-step-form-main {
  background-color: #EEF4FD;
  min-height: 100vh;
  padding-top: 15vh;
  font-family: "Ubuntu", sans-serif;
}
.multi-step-form-main .outer-container {
  background-color: #fff;
  border-radius: 10px;
}
.multi-step-form-main .outer-container .content-container {
  padding: 1rem;
}
.multi-step-form-main .outer-container .content-container .aside {
  background: url("images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  padding: 2.5rem;
}
.multi-step-form-main .outer-container .content-container .aside .aside-container .steps {
  gap: 1.5rem;
}
.multi-step-form-main .outer-container .content-container .aside .aside-container .steps .step {
  gap: 1rem;
}
.multi-step-form-main .outer-container .content-container .aside .aside-container .steps .step .explanation span:first-child {
  font-size: 14px;
  color: #adbeff;
}
.multi-step-form-main .outer-container .content-container .aside .aside-container .steps .step span.number {
  align-self: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 15px;
  padding-block: 5px;
  color: #fff;
}
.multi-step-form-main .outer-container .content-container .aside .aside-container .steps .step span:last-child {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}
.multi-step-form-main .outer-container .content-container .main-content {
  padding: 2.5rem;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .heading {
  margin-bottom: 2rem;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .heading h2 {
  color: #02295a;
  font-size: 32px;
  font-weight: 700;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .heading p {
  font-size: 16px;
  line-height: 24px;
  color: #9699ab;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .options .option {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #d6d9e6;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .options .option .icon {
  margin-bottom: 2.5rem;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .options .option .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .options .option .content h5 {
  color: #02295a;
  font-weight: 700;
  font-size: 16px;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .options .option .content span {
  font-size: 14px;
  color: #9699AA;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .subscription {
  margin-bottom: 10rem;
  background-color: #F0F6FF;
  padding-block: 0.5rem;
  border-radius: 10px;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .buttons .go-back {
  padding-block: 15px;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .buttons .go-back a {
  color: #9699AB;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .buttons .next-step {
  background-color: #02295A;
  padding: 15px 24px;
  border-radius: 8px;
}
.multi-step-form-main .outer-container .content-container .main-content .main-content-container .buttons .next-step a {
  color: #fff;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */